In [4]:
import pandas as pd

df = pd.read_csv("./2024.csv")

In [2]:
trimmed_2024_df = df.loc[df["player_name"].isin(["Cole, Gerrit", "Gausman, Kevin", "Kershaw, Clayton"])]

In [3]:
trimmed_2024_df.to_csv("./dashboard/2024_trimmed.csv")

In [5]:
pitchers_2024 = df["player_name"].unique()

In [9]:
pd.DataFrame(pitchers_2024).to_csv("./2024_pitchers.csv", index=False, header=False)

In [17]:
import pybaseball
from pybaseball import  playerid_lookup

playerid_lookup('sale','chris')

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,sale,chris,519242,salec001,salech01,10603,2010.0,2024.0